html, body{
    margin:0;
    padding:0;
    height:100%;
}
.header{
    background-color:aliceblue;
}
.nav{
    height:100px;
}
.nav ul{
    text-align: right;
}
ul{
    padding:0;
    margin:0;
    position: relative;
    top:30%;
}
li{
    display:inline-block;
    width:20%;
}
.section{
    height:1080px;
    width:100%;
}
.section  ul{
    text-align: center;
}
.section ul li{
    width:25%;
}




